@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
}


body {
    background-color:#1b1b1b;
}
nav {
    background-color: rgba(23, 23, 23, 0.466);
    font-size: 3rem;
    color: white;               
    margin: 20px;    
}

.topic {
    font-size: 2rem;
    color: white;
    text-transform: capitalize;  
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;    
}

.add {    
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.3rem;
    gap: 10px;

    img{
        width: 30px;
    }
    
}

.contain {
    background-color: #131314;
    color: white;
    border-radius: 20px;
    padding: 50px;
    margin: 20px;    
}

.task-topic {
    font-size: 1.2rem;
}

.task {
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;    
    /* gap: 1px; */
}

.task-complete {
    appearance: none;    
    width: 20px;
    height: 20px;
    border: 2px solid #555;    
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;

}

.task-complete:checked {
    border: none;
    /* background-color: #2b2b2b; */
    width: 25px;
    height: 25px;
    margin: 7.5px;

}
input:focus{    
    outline: none;
    color: black;
    font-size: 1.2rem;
}
.inputbox{
    padding: 20px;
    border-radius: 20px;
    background-color:gray;
    color: black;    
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 40px;
    display: none;
}
.line{
    text-decoration: line-through;
    color: gray;
}
.inchch{
background-color: #1b1b1b;
border: none;
}
input{
    border: none;
    background-color: transparent;
    color: black;
    font-size: 1.2rem;    
    display: block;
    border-bottom: 2px solid black;
    margin: 40px 10px;

    
}
input::placeholder{
    color: black;
}
.open{
    display: block;
    
}
.inputbox button{
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    background-color:black;
}
.completed{
    height: auto;
    background-color: #131314;
    color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    height: 100px;
    overflow: hidden;
    
    span{
        display: block;
    }
    
}
.oopeen{
    height: auto;
    
}
.done-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
padding: 20px;
}
.done-icon{
    font-size: 0.9rem;
    cursor: pointer;

}
